[Unit]
Description=Velyx OS User Session Bootstrap
After=velyx-session-manager.service dbus.service
Requires=velyx-session-manager.service

[Service]
Type=oneshot
EnvironmentFile=-%h/.config/velyx/velyx.env
Environment=VELYX_USER_ID=%u
Environment=HOME=%h
ExecStartPre=/usr/lib/velyx/boot/velyx-recovery-bootstrap
ExecStart=/usr/lib/velyx/boot/velyx-user-session-bootstrap %u
RemainAfterExit=yes

[Install]
WantedBy=default.target
