[Unit]
Description=Velyx OS Session Manager
PartOf=velyx-session.target
After=dbus.service velyx-permissions.service velyx-launcher.service
Requires=velyx-permissions.service velyx-launcher.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
EnvironmentFile=-%h/.config/velyx/velyx.env
Environment=VELYX_USER_ID=%u
Environment=HOME=%h
ExecStart=/usr/bin/velyx-session-manager
Restart=always
RestartSec=1

[Install]
WantedBy=velyx-session.target
