[Unit]
Description=Velyx OS First Boot Entry
PartOf=velyx-session.target
After=velyx-permissions.service velyx-launcher.service graphical-session-pre.target dbus.service
Requires=velyx-permissions.service velyx-launcher.service

[Service]
Type=simple
EnvironmentFile=-%h/.config/velyx/velyx.env
Environment=VELYX_USER_ID=%u
Environment=HOME=%h
ExecStart=/usr/bin/velyx-entry --session
Restart=always
RestartSec=1

[Install]
WantedBy=velyx-session.target
